<section class="pricing py-5">
    <div class="container">
        <div class="row">
            <!-- Free Tier -->
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <app-card title="FREE" price=0 period="month" [Features]=freeFeatures></app-card>
                </div>
            </div>
            <!-- Plus Tier -->
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <app-card title="PLUS" price=9 period="month" [Features]=plusFeatures></app-card>
                </div>
            </div>
            <!-- Pro Tier -->
            <div class="col-lg-4">
                <div class="card mb-5 mb-lg-0">
                    <app-card title="PRO" price=49 period="month" [Features]=proFeatures></app-card>
                </div>
            </div>
        </div>
    </div>
</section>